<!-- Card Count Chart -->
<style type="text/css">
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}
</style>
<article="panel row">
  <% if list.cards.any? -%>
  <h5>Days in List</h5>
  <div id="<%= dom_id(list, 'card_counts') %>">
    <div class="bar chart"></div>
    <div class="legend"></div>
  </div>
  <script type="text/javascript">
    new CardCountChart("#<%= dom_id(list, 'card_counts') %>", <%= raw list.card_days.to_json %>);
  </script>

  <ul class="block-list">
    <% list.cards.each do |card| %>
      <li><%= link_to card.name, [@project, card] %></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are no cards currently recorded for this list.</p>
  <% end -%>
</article>
