<!-- Card Count Chart -->
<article="panel">
  <% if list.cards.any? -%>
  <h5>Days in List</h5>
  <div id="<%= dom_id(list, 'card_counts') %>"></div>
  <script type="text/javascript">
    new CardCountChart("#<%= dom_id(list, 'card_counts') %>", <%= raw list.card_days.to_json %>);
  </script>
  <% else -%>
    <p>There are no cards currently recorded for this list.</p>
  <% end -%>
</article>
