<% title @project.name %>
<%= render_title_html %>
<%= render 'projects/sub_nav' %>
<section class="row">
  <div class="twelve columns">
    <h4><%= @list.name %></h4>
    <%= render 'lists/cards', list: @list %>
  </div>
</section>
