<% if Rails.application.config.enable_ember_application -%>
  <%= javascript_include_tag "ember-application" %>
<% else -%>
<div class="row">
  <div class="eight columns">
    <% if current_user.projects.empty? %>
      <div class="notice">You haven't imported any projects yet.</div>
    <% end %>
    <ul class="side-nav">
    <% current_user.projects.each do |project| %>
      <li><%= link_to project.name, project %></li>
    <% end %>
      <li>
        <%= link_to start_project_path do %>
          <i class="foundicon-plus" style="font-size:75%"></i> Import a project
        <% end %>
      </li>
    </ul>
  </div>
</div>
<% end -%>
