---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/bottleneck
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="d09f3a9dae184c8df00faa4cf77672da",
        oauth_signature="7%2FwMeL50fdjhqrI9LngzZobKFKk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1358305309", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-server-time:
      - '1358305309336'
    body:
      encoding: US-ASCII
      string: !str
        str: ! '{"id":"50ce59a6c74c3e366300830b","avatarHash":null,"bio":"","fullName":"Bottleneck","initials":"B","memberType":null,"status":"active","url":"https://trello.com/bottleneck","username":"bottleneck","avatarSource":"none","confirmed":true,"email":"rosskaff+bottleneck@gmail.com","gravatarHash":"109e173a1f14a57ee2b737aeab1d8b16","idBoards":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idBoardsInvited":[],"idBoardsPinned":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idOrganizations":[],"idOrganizationsInvited":[],"idPremOrgsAdmin":[],"loginTypes":["password"],"prefs":{"sendSummaries":true,"minutesBetweenSummaries":60,"minutesBeforeDeadlineToNotify":1440,"colorBlind":false},"trophies":[],"uploadedAvatarHash":null}'
        net_http_res: &70093900210340 !ruby/object:Net::HTTPOK
          code: '200'
          message: OK
          header:
            x-powered-by:
            - Express
            content-type:
            - application/json; charset=utf-8
            content-length:
            - '739'
            x-server-time:
            - '1358305309336'
            cache-control:
            - max-age=0, must-revalidate, no-cache, no-store
            expires:
            - Thu, 01 Jan 1970 00:00:00
            access-control-allow-origin:
            - ! '*'
            access-control-allow-methods:
            - GET, PUT, POST, DELETE
            set-cookie:
            - connect.sid=gtD4Tg4AJX1rdpBMn1N3Qo2a.4PDhHpF2hXD9h93NflfoI7Y9wKXDQslPpF3IAWFbAno;
              path=/; httpOnly
            date:
            - Wed, 16 Jan 2013 03:01:49 GMT
            connection:
            - keep-alive
          body: !str
            str: ! '{"id":"50ce59a6c74c3e366300830b","avatarHash":null,"bio":"","fullName":"Bottleneck","initials":"B","memberType":null,"status":"active","url":"https://trello.com/bottleneck","username":"bottleneck","avatarSource":"none","confirmed":true,"email":"rosskaff+bottleneck@gmail.com","gravatarHash":"109e173a1f14a57ee2b737aeab1d8b16","idBoards":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idBoardsInvited":[],"idBoardsPinned":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idOrganizations":[],"idOrganizationsInvited":[],"idPremOrgsAdmin":[],"loginTypes":["password"],"prefs":{"sendSummaries":true,"minutesBetweenSummaries":60,"minutesBeforeDeadlineToNotify":1440,"colorBlind":false},"trophies":[],"uploadedAvatarHash":null}'
            net_http_res: *70093900210340
            args: &70093849461720
              :method: :get
              :url: https://api.trello.com/1/members/bottleneck
              :headers:
                Authorization: OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058",
                  oauth_nonce="58a495e25b05f8d4dd72ae16b5937132", oauth_signature="mtEXH%2FNtXhzd9dkze%2B1y%2FNUuQbk%3D",
                  oauth_signature_method="HMAC-SHA1", oauth_timestamp="1358483735",
                  oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
                  oauth_version="1.0"
              :payload: 
              :timeout: 10
            code: 200
          read: true
          __read_body_previously_called: true
        args: *70093849461720
        code: 200
  recorded_at: Wed, 16 Jan 2013 03:01:49 GMT
- request:
    method: get
    uri: https://api.trello.com/1/members/50ce59a6c74c3e366300830b/boards?filter=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="269413a9ff6389261af1b3df43e2e91c",
        oauth_signature="FU9k0LsGM2PYsuxbpjRFX9Tuou8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1358305309", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-server-time:
      - '1358305309573'
    body:
      encoding: US-ASCII
      string: !str
        str: ! '[{"id":"50ce927d006f9d1b63010458","name":"Bottleneck","desc":"","closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/board/bottleneck/50ce927d006f9d1b63010458","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"invitations":[],"memberships":[{"id":"50ce927d006f9d1b6301045c","idMember":"50ce59a6c74c3e366300830b","memberType":"admin","deactivated":false}],"subscribed":false,"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}},{"id":"50ce59a6c74c3e366300830c","name":"Welcome
          Board","desc":"","closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/board/welcome-board/50ce59a6c74c3e366300830c","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"invitations":[],"memberships":[{"id":"50ce59a6c74c3e366300830d","idMember":"4e6a7fad05d98b02ba00845c","memberType":"normal","deactivated":fals[...]
[...]
- request:
    method: get
    uri: https://api.trello.com/1/boards/50ce927d006f9d1b63010458
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="c8ab7565fa457a47f79904b861373917",
        oauth_signature="Q8LsNVVB1Qtxa6YdrFgeyNSnbPE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1358305310", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa2[...]
- request:
    method: get
    uri: https://api.trello.com/1/boards/50ce927d006f9d1b63010458/lists?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="b74838e997a9b216e39397de00262bc7",
        oauth_signature="iWDa%2BI7GLdfYSMT19J8oMAmrZek%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1358305310", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-server-time:
      - '1358305310445'
    body:
      encoding: US-ASCII
      string: !str
        str: ! '[{"id":"50ce927d006f9d1b63010459","name":"Ready","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":16384,"subscribed":false},{"id":"50ce927d006f9d1b6301045a","name":"In
          Progress","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":32768,"subscribed":false},{"id":"50ce927d006f9d1b6301045b","name":"Blocked","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":49152,"subscribed":false},{"id":"50ce92a0006f9d1b63010482","name":"Review","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":114688,"subscribed":false},{"id":"50ce92ad006f9d1b6301048b","name":"Deploy","closed":[...]
- request:
    method: get
    uri: https://api.trello.com/1/lists/50ce927d006f9d1b63010459/cards?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="e3c57c20554dafe8fd197a1dbe39bc53",
        oauth_signature="NhRexQB2BdLRKmAnBFKua6Co%2Bag%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1358305310", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-server-time:
      - '1358305310676'
    body:
      encoding: US-ASCII
      string: !str
        str: ! '[{"id":"50ce9371006f9d1b630104ed","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"checkItemStates":[],"closed":false,"desc":"","due":null,"idBoard":"50ce927d006f9d1b63010458","idChecklists":[],"idList":"50ce927d006f9d1b63010459","idMembers":[],"idShort":4,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"Load
          boards via ajax in new project wizard","pos":65535.5,"subscribed":false,"url":"https://trello.com/card/load-boards-via-ajax-in-new-project-wizard/50ce927d006f9d1b63010458/4"},{"id":"50f33ab744cd6ea45b0048f6","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"checkItemStates":[],"closed":false,"desc":"","due":null,"idBoard":"50ce927d006f9d1b63010[...]
[...]
- request:
    method: get
    uri: https://api.trello.com/1/cards/50ce9371006f9d1b630104ed/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="1b8b06780764812478877679cc7e29ba",
        oauth_signature="V5ZEWb38MSnN6BYngqMU9c%2FXGhI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1358483736", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-server-time:
      - '1358483736777'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Fri, 18 Jan 2013 04:35:36 GMT
[...]
- request:
    method: get
    uri: https://api.trello.com/1/cards/50ce9300006f9d1b630104b4/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="6ce6482d0eeca65fcbe004aa147e4d1d",
        oauth_signature="WYU7nwBKbWZraiigM1A%2FSrlE2ug%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1358483738", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-server-time:
      - '1358483739074'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Fri, 18 Jan 2013 04:35:39 GMT
recorded_with: VCR 2.3.0
