---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/bottleneck
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="0548c9ba397188f89fec68c315bdb2f0",
        oauth_signature="FuRuSQXBAoJzcf7LOKfkYxe2eEE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1357845499", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-server-time:
      - '1357845499342'
    body:
      encoding: US-ASCII
      string: !str
        str: ! '{"id":"50ce59a6c74c3e366300830b","avatarHash":null,"bio":"","fullName":"Bottleneck","initials":"B","memberType":null,"status":"active","url":"https://trello.com/bottleneck","username":"bottleneck","avatarSource":"none","confirmed":true,"email":"rosskaff+bottleneck@gmail.com","gravatarHash":"109e173a1f14a57ee2b737aeab1d8b16","idBoards":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idBoardsInvited":[],"idBoardsPinned":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idOrganizations":[],"idOrganizationsInvited":[],"idPremOrgsAdmin":[],"loginTypes":["password"],"prefs":{"sendSummaries":true,"minutesBetweenSummaries":60,"minutesBeforeDeadlineToNotify":1440,"colorBlind":false},"trophies":[],"uploadedAvatarHash":null}'
        net_http_res: &70295210099500 !ruby/object:Net::HTTPOK
          code: '200'
          message: OK
          header:
            x-powered-by:
            - Express
            content-type:
            - application/json; charset=utf-8
            content-length:
            - '739'
            x-server-time:
            - '1357845499342'
            cache-control:
            - max-age=0, must-revalidate, no-cache, no-store
            expires:
            - Thu, 01 Jan 1970 00:00:00
            access-control-allow-origin:
            - ! '*'
            access-control-allow-methods:
            - GET, PUT, POST, DELETE
            set-cookie:
            - connect.sid=R74iuWIFHIrNppdN4qtIwtEX.O%2FH9scvHZ0Ow%2FCTtxbqrBCFFwCizG4FxJv3vCn08iak;
              path=/; httpOnly
            date:
            - Thu, 10 Jan 2013 19:18:19 GMT
            connection:
            - keep-alive
          body: !str
            str: ! '{"id":"50ce59a6c74c3e366300830b","avatarHash":null,"bio":"","fullName":"Bottleneck","initials":"B","memberType":null,"status":"active","url":"https://trello.com/bottleneck","username":"bottleneck","avatarSource":"none","confirmed":true,"email":"rosskaff+bottleneck@gmail.com","gravatarHash":"109e173a1f14a57ee2b737aeab1d8b16","idBoards":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idBoardsInvited":[],"idBoardsPinned":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idOrganizations":[],"idOrganizationsInvited":[],"idPremOrgsAdmin":[],"loginTypes":["password"],"prefs":{"sendSummaries":true,"minutesBetweenSummaries":60,"minutesBeforeDeadlineToNotify":1440,"colorBlind":false},"trophies":[],"uploadedAvatarHash":null}'
            net_http_res: *70295210099500
            args: &70295193828540
              :method: :get
              :url: https://api.trello.com/1/members/bottleneck
              :headers:
                Authorization: OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058",
                  oauth_nonce="c995a0cbf03a3f58910fd76ff6c92f06", oauth_signature="L18fAVc6fXztyR0F7r8rhwmgdDs%3D",
                  oauth_signature_method="HMAC-SHA1", oauth_timestamp="1357917278",
                  oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
                  oauth_version="1.0"
              :payload: 
              :timeout: 10
            code: 200
          read: true
          __read_body_previously_called: true
        args: *70295193828540
        code: 200
  recorded_at: Thu, 10 Jan 2013 19:18:21 GMT
- request:
    method: get
    uri: https://api.trello.com/1/members/50ce59a6c74c3e366300830b/boards?filter=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="7abf175ea5390328544a7f21af439f1f",
        oauth_signature="JGc7w2wpRSQ2IVNEGDkjSZW5KBM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1357845503", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-server-time:
      - '1357845501769'
    body:
      encoding: US-ASCII
      string: !str
        str: ! '[{"id":"50ce927d006f9d1b63010458","name":"Bottleneck","desc":"","closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/board/bottleneck/50ce927d006f9d1b63010458","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"invitations":[],"memberships":[{"id":"50ce927d006f9d1b6301045c","idMember":"50ce59a6c74c3e366300830b","memberType":"admin","deactivated":false}],"subscribed":false,"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}},{"id":"50ce59a6c74c3e366300830c","name":"Welcome
          Board","desc":"","closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/board/welcome-board/50ce59a6c74c3e366300830c","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"invitations":[],"memberships":[{"id":"50ce59a6c74c3e366300830d","idMember":"4e6a7fad05d98b02ba00845c","memberType":"normal","deactivated":fals[...]
[...]
- request:
    method: get
    uri: https://api.trello.com/1/boards/50ce927d006f9d1b63010458
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="b53e6c666fc5d9a707edfd3cebe5f0d0",
        oauth_signature="sGNkXiQRiXNKCZ2l%2BsQ7BUOCheo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1357845539", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7af[...]
[...]
- request:
    method: get
    uri: https://api.trello.com/1/boards/50ce927d006f9d1b63010458/lists?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="193d47af18dd5e04ca9e1bf4f83c85c2",
        oauth_signature="GSc5hs%2Fy7WG4oOY0Dtd3bM8YObk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1357845544", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-server-time:
      - '1357845542454'
    body:
      encoding: US-ASCII
      string: !str
        str: ! '[{"id":"50ce927d006f9d1b63010459","name":"Ready","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":16384,"subscribed":false},{"id":"50ce927d006f9d1b6301045a","name":"In
          Progress","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":32768,"subscribed":false},{"id":"50ce927d006f9d1b6301045b","name":"Blocked","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":49152,"subscribed":false},{"id":"50ce92a0006f9d1b63010482","name":"Review","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":114688,"subscribed":false},{"id":"50ce92ad006f9d1b6301048b","name":"Deploy","closed":[...]
- request:
    method: get
    uri: https://api.trello.com/1/lists/50ce927d006f9d1b63010459/cards?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="0e3fec5bba60cb8c2d36bafdfb82bdb0",
        oauth_signature="yDdhahT2ldz1GyUfqrvM%2Bn8hUdc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1357845547", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-server-time:
      - '1357845545685'
    body:
      encoding: US-ASCII
      string: !str
        str: ! '[{"id":"50ce9371006f9d1b630104ed","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"checkItemStates":[],"closed":false,"desc":"","due":null,"idBoard":"50ce927d006f9d1b63010458","idChecklists":[],"idList":"50ce927d006f9d1b63010459","idMembers":[],"idShort":4,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"Load
          boards via ajax in new project wizard","pos":196607,"subscribed":false,"url":"https://trello.com/card/load-boards-via-ajax-in-new-project-wizard/50ce927d006f9d1b63010458/4"}]'
        net_http_res: &70295155088480 !ruby/object:Net::HTTPOK
          code: '200'
          message: OK
          header:
            x-powered-by:
            - Express
            content-type:
            - application/json; charset=utf-8
            content-length:
            - '640'
     [...]
[...]
