---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/50f02b7e6a44c1b264004e34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="66aa7d5904e485e97f223c54ab90282e",
        oauth_signature="uVYfzOQQtMWyoiWLrQdCzg3bGHM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1358424067", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-server-time:
      - '1358424067977'
    body:
      encoding: US-ASCII
      string: ! '{"id":"50f02b7e6a44c1b264004e34","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":6,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"checkItemStates":[],"closed":false,"desc":"","due":null,"idBoard":"50ce927d006f9d1b63010458","idChecklists":["50f02b8d6a44c1b264004e37","50f02bae6a44c1b264004e3c"],"idList":"50ce92ad006f9d1b6301048b","idMembers":[],"idShort":8,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"Record
        interval in background for project''s time zone","pos":131071.5,"url":"https://trello.com/card/record-interval-in-background-for-project-s-time-zone/50ce927d006f9d1b63010458/8"}'
  recorded_at: Thu, 17 Jan 2013 12:01:07 GMT
recorded_with: VCR 2.3.0
