<article id="welcome-splash" class="splash row">
  <section class="six columns">
    <a href="#" class="th"><img src="http://placehold.it/500x300"></a>
  </section>
  <section id="get-started-splash" class="six columns align-center">
    <h3>Measure smarter. Ship faster.<h3>
    <%= link_to "Get Started &raquo;".html_safe, new_user_registration_path, class: "button large radius" %>
  </section>
</article>
<hr/>
<article class="splash clear row" id="welcome-features">
  <section class="six columns">
    <a href="#" class="th"><img src="http://placehold.it/500x300"></a>
  </section>
  <section class="six columns align-center">
    <h4>Features</h4>
  </section>
</article>
