---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/bottleneck
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="28ab7724a24f2af63736dd51f1bd0cc9",
        oauth_signature="dm5bUw%2BVoWm6LMPflVXu9G6KlC8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1358305313", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-server-time:
      - '1358305313320'
    body:
      encoding: US-ASCII
      string: ! '{"id":"50ce59a6c74c3e366300830b","avatarHash":null,"bio":"","fullName":"Bottleneck","initials":"B","memberType":null,"status":"active","url":"https://trello.com/bottleneck","username":"bottleneck","avatarSource":"none","confirmed":true,"email":"rosskaff+bottleneck@gmail.com","gravatarHash":"109e173a1f14a57ee2b737aeab1d8b16","idBoards":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idBoardsInvited":[],"idBoardsPinned":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idOrganizations":[],"idOrganizationsInvited":[],"idPremOrgsAdmin":[],"loginTypes":["password"],"prefs":{"sendSummaries":true,"minutesBetweenSummaries":60,"minutesBeforeDeadlineToNotify":1440,"colorBlind":false},"trophies":[],"uploadedAvatarHash":null}'
  recorded_at: Wed, 16 Jan 2013 03:01:53 GMT
- request:
    method: get
    uri: https://api.trello.com/1/members/50ce59a6c74c3e366300830b/boards?filter=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="a92842982198415dbb2b5af81c86741e",
        oauth_signature="S8FQoPn3jDBBTbE5z6SZPJkfNu0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1358305313", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-server-time:
      - '1358305313567'
    body:
      encoding: US-ASCII
      string: !str
        str: ! '[{"id":"50ce927d006f9d1b63010458","name":"Bottleneck","desc":"","closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/board/bottleneck/50ce927d006f9d1b63010458","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"invitations":[],"memberships":[{"id":"50ce927d006f9d1b6301045c","idMember":"50ce59a6c74c3e366300830b","memberType":"admin","deactivated":false}],"subscribed":false,"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}},{"id":"50ce59a6c74c3e366300830c","name":"Welcome
          Board","desc":"","closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/board/welcome-board/50ce59a6c74c3e366300830c","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"invitations":[],"memberships":[{"id":"50ce59a6c74c3e366300830d","idMember":"4e6a7fad05d98b02ba00845c","memberType":"normal","deactivated":false},{"id":"50ce59a6c74c3e3663008318","idMember":"50ce59a6c74c3e366300830b","memberType":"admin","deactivated":false}],"subscribed":false,"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}}]'
        net_http_res: &70218871246520 !ruby/object:Net::HTTPOK
          code: '200'
          message: OK
          header:
            x-powered-by:
            - Express
            content-type:
            - application/json; charset=utf-8
            content-length:
            - '1287'
            x-server-time:
            - '1358305313567'
            cache-control:
            - max-age=0, must-revalidate, no-cache, no-store
            expires:
            - Thu, 01 Jan 1970 00:00:00
            access-control-allow-origin:
            - ! '*'
            access-control-allow-methods:
            - GET, PUT, POST, DELETE
            set-cookie:
            - connect.sid=WAgi1Dsrr9JLlCCorgy1F7U0.ip87pDRGmuhsgLgJHYeM3IZGatY88hLulNuRvqHRrWA;
              path=/; httpOnly
            date:
            - Wed, 16 Jan 2013 03:01:53 GMT
            connection:
            - keep-alive
          body: !str
            str: ! '[{"id":"50ce927d006f9d1b63010458","name":"Bottleneck","desc":"","closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/board/bottleneck/50ce927d006f9d1b63010458","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"invitations":[],"memberships":[{"id":"50ce927d006f9d1b6301045c","idMember":"50ce59a6c74c3e366300830b","memberType":"admin","deactivated":false}],"subscribed":false,"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}},{"id":"50ce59a6c74c3e366300830c","name":"Welcome
              Board","desc":"","closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/board/welcome-board/50ce59a6c74c3e366300830c","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"invitations":[],"memberships":[{"id":"50ce59a6c74c3e366300830d","idMember":"4e6a7fad05d98b02ba00845c","memberType":"normal","deactivated":false},{"id":"50ce59a6c74c3e3663008318","idMember":"50ce59a6c74c3e366300830b","memberType":"admin","deactivated":false}],"subscribed":false,"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}}]'
            net_http_res: *70218871246520
            args: &70218878710420
              :method: :get
              :url: https://api.trello.com/1/members/50ce59a6c74c3e366300830b/boards?filter=all
              :headers:
                Authorization: OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058",
                  oauth_nonce="5b48c13e048e98216d201aabcf41babf", oauth_signature="VVmpA0Wmso0GkiEdDOtowIJB0ow%3D",
                  oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359384403",
                  oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
                  oauth_version="1.0"
              :payload: 
              :timeout: 10
            code: 200
          read: true
          __read_body_previously_called: true
        args: *70218878710420
        code: 200
  recorded_at: Wed, 16 Jan 2013 03:01:53 GMT
- request:
    method: get
    uri: https://api.trello.com/1/members/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="65dbf1c92b2ac12d5ee3003af13f9ba1",
        oauth_signature="kwT0a%2ByooTroWGJ8IVqFqZN68%2FE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359384402", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        o[...]
