      <% onready 'spinner' do %>
        new ProjectSpinner('#importing').spin()
      <% end %>
      <div class="panel">
        <h5 class="align-center">Importing</h5>
        <div id="importing"></div>
      </div>
