<% title @project.name %>
<%= render_title_html %>
<%= render 'projects/sub_nav' %>
<section class="row">
  <section class="ten columns">
    <%= render 'cumulative_flows/show', flow: @flow %>
    <%= render 'projects/summary', date: today %>
  </section>
</section>
