---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/50ce927d006f9d1b63010458
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="41dc452051e06c32e9c484ff3afa3d02",
        oauth_signature="3HlODf7FKIlMLsoB%2BWgBetXPUts%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1357567417", oauth_token="aeb20eb3201ad981ffc1a65ee6f3d9225de5491e729835e22ecdb3a5551ac5f9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-server-time:
      - '1357567418476'
    body:
      encoding: US-ASCII
      string: ! '{"id":"50ce927d006f9d1b63010458","name":"Bottleneck","desc":"","closed":false,"idOrganization":null,"pinned":true,"url":"https://trello.com/board/bottleneck/50ce927d006f9d1b63010458","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true}}'
  recorded_at: Mon, 07 Jan 2013 14:03:38 GMT
recorded_with: VCR 2.3.0
