---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/50f02b7e6a44c1b264004e34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="8fb39c56c3542c7175a67c52ba28cad0",
        oauth_signature="4MksjUEjOvizumspB0wOCE%2B1pVY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359424415", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1359424416199'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"id":"50f02b7e6a44c1b264004e34","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":6,"checkItemsChecked":2,"comments":0,"attachments":0,"description":false,"due":null},"checkItemStates":[{"idCheckItem":"50f02d038e5be1580d004ce7","state":"complete"},{"idCheckItem":"50f02d0c8e5be1580d004ce8","state":"complete"}],"closed":false,"desc":"","due":null,"idBoard":"50ce927d006f9d1b63010458","idChecklists":["50f02b8d6a44c1b264004e37","50f02bae6a44c1b264004e3c"],"idList":"50ce92b4006f9d1b6301048f","idMembers":[],"idShort":8,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"Record
        interval in background for project''s time zone","pos":589823,"url":"https://trello.com/card/record-interval-in-background-for-project-s-time-zone/50ce927d006f9d1b63010458/8"}'
  recorded_at: Tue, 29 Jan 2013 01:53:36 GMT
- request:
    method: get
    uri: https://api.trello.com/1/cards/50f02b7e6a44c1b264004e34/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="3f64cdb0dfae4ba75be22e7f31493574",
        oauth_signature="%2Fi7qXHqAV1YGTQaf8o5LTEXYAvY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359424416", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1359424416448'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Tue, 29 Jan 2013 01:53:36 GMT
recorded_with: VCR 2.3.0
