---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/50f02b7e6a44c1b264004e34
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="3ec5807eac8520f4aa514a6cc85711f2",
        oauth_signature="hYgEqv82V2cfv3kpX5Df9iL8gKU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359467918", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1359467919189'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"id":"50f02b7e6a44c1b264004e34","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":6,"checkItemsChecked":2,"comments":0,"attachments":0,"description":false,"due":null},"checkItemStates":[{"idCheckItem":"50f02d038e5be1580d004ce7","state":"complete"},{"idCheckItem":"50f02d0c8e5be1580d004ce8","state":"complete"}],"closed":false,"desc":"","due":null,"idBoard":"50ce927d006f9d1b63010458","idChecklists":["50f02b8d6a44c1b264004e37","50f02bae6a44c1b264004e3c"],"idList":"50ce92b4006f9d1b6301048f","idMembers":[],"idShort":8,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"Record
        interval in background for project''s time zone","pos":589823,"url":"https://trello.com/card/record-interval-in-background-for-project-s-time-zone/50ce927d006f9d1b63010458/8"}'
  recorded_at: Tue, 29 Jan 2013 13:58:39 GMT
- request:
    method: get
    uri: https://api.trello.com/1/cards/50f02b7e6a44c1b264004e34/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="7381f673c2318c681c0e961cef034ca9",
        oauth_signature="kAK4DbbsJIIg9FeIdrV2rf%2FYmGc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359467919", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1359467919427'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Tue, 29 Jan 2013 13:58:39 GMT
recorded_with: VCR 2.3.0
