/*
 *= require_self
 *= require foundation_icons
 *= require rickshaw/rickshaw
 *= require framework
 *= require components
 *= require features
*/
.brand {
  float: left;
  padding-right: 8px;
}
ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
ul.nav li {
  display: inline;
}
.flash {
  padding: 12px;
  margin: 5px;
  font-weight: bold;
}
#flash_notice, #flash_flow {
  background-color: #CFC;
  color: #062;
  border: 1px solid #062;
}
#flash_alert {
  background-color: #FCC;
  color: #F11;
  border: 1px solid #F11;
}
