---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="5a567f7805bdb08d644ee8b85afe91cb",
        oauth_signature="CqkugfOddnghuYlNbr436dpNyds%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359467896", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1359467896933'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"id":"50ce59a6c74c3e366300830b","avatarHash":null,"bio":"","fullName":"Bottleneck","initials":"B","memberType":"normal","status":"idle","url":"https://trello.com/bottleneck","username":"bottleneck","avatarSource":"none","confirmed":true,"email":"rosskaff+bottleneck@gmail.com","gravatarHash":"109e173a1f14a57ee2b737aeab1d8b16","idBoards":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idBoardsInvited":[],"idBoardsPinned":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idOrganizations":[],"idOrganizationsInvited":[],"idPremOrgsAdmin":[],"loginTypes":["password"],"prefs":{"sendSummaries":true,"minutesBetweenSummaries":60,"minutesBeforeDeadlineToNotify":1440,"colorBlind":false},"trophies":[],"uploadedAvatarHash":null}'
  recorded_at: Tue, 29 Jan 2013 13:58:16 GMT
- request:
    method: get
    uri: https://api.trello.com/1/members/50ce59a6c74c3e366300830b/boards?filter=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="8c56dae337e8e75f0933026869664873",
        oauth_signature="hqK4rfgE2K4HiD9fqywJ%2BUMaEjg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359467896", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1359467897451'
      content-type:
      - application/json
      etag:
      - ! '"2053939696"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"50ce927d006f9d1b63010458","name":"Bottleneck","desc":"","closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/board/bottleneck/50ce927d006f9d1b63010458","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"invitations":[],"memberships":[{"id":"50ce927d006f9d1b6301045c","idMember":"50ce59a6c74c3e366300830b","memberType":"admin","deactivated":false}],"shortUrl":"https://trello.com/b/pcV1Vod0","subscribed":false,"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}},{"id":"50ce59a6c74c3e366300830c","name":"Welcome
        Board","desc":"","closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/board/welcome-board/50ce59a6c74c3e366300830c","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"invitations":[],"memberships":[{"id":"50ce59a6c74c3e366300830d","idMember":"4e6a7fad05d98b02ba00845c","memberType":"normal","deactivated":false},{"id":"50ce59a6c74c3e3663008318","idMember":"50ce59a6c74c3e366300830b","memberType":"admin","deactivated":false}],"shortUrl":"https://trello.com/b/lwggFnKA","subscribed":false,"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}}]'
  recorded_at: Tue, 29 Jan 2013 13:58:17 GMT
[...]
- request:
    method: get
    uri: https://api.trello.com/1/boards/50ce927d006f9d1b63010458
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="89e249c5d3ebf4a0050e553b884d6e22",
        oauth_signature="BHTda0IlUPyMX3fsbuuAI0izSTc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359467898", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1359467898955'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"id":"50ce927d006f9d1b63010458","name":"Bottleneck","desc":"","closed":false,"idOrganization":null,"pinned":true,"url":"https://trello.com/board/bottleneck/50ce927d006f9d1b63010458","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}}'
  recorded_at: Tue, 29 Jan 2013 13:58:18 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/50ce927d006f9d1b63010458/lists?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="906b6e72a514ae982ce037515369cfbc",
        oauth_signature="9N8qeDRLspCp3pBfQiG614a7r%2FM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359467898", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1359467899315'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"id":"50ce927d006f9d1b63010459","name":"Ready","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":16384,"subscribed":false},{"id":"50ce927d006f9d1b6301045a","name":"In
        Progress","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":32768,"subscribed":false},{"id":"50ce927d006f9d1b6301045b","name":"Blocked","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":49152,"subscribed":false},{"id":"50ce92ad006f9d1b6301048b","name":"Deploy","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":131072,"subscribed":false},{"id":"50ce92b4006f9d1b6301048f","name":"Complete","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":147456,"subscribed":false}]'
  recorded_at: Tue, 29 Jan 2013 13:58:19 GMT
- request:
    method: get
    uri: https://api.trello.com/1/lists/50ce927d006f9d1b63010459/cards?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="76e2d550e17e35304182c66a111d5de3",
        oauth_signature="Kajs7R5xdD%2FcEX%2B4PgRYeGVMQjs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359467899", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1359467899589'
      content-type:
      - application/json
      etag:
      - ! '"1844034892"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"50ce9371006f9d1b630104ed","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"checkItemStates":[],"closed":false,"dateLastActivity":"2012-12-17T03:37:21.917Z","desc":"","due":null,"idBoard":"50ce927d006f9d1b63010458","idChecklists":[],"idList":"50ce927d006f9d1b63010459","idMembers":[],"idMembersVoted":[],"idShort":4,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"Load
        boards via ajax in new project wizard","pos":65535.5,"shortUrl":"https://trello.com/c/3s34unxo","subscribed":false,"url":"https://trello.com/card/load-boards-via-ajax-in-new-project-wizard/50ce927d006f9d1b63010458/4"},{"id":"5106f0b03ac673d47b005421","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"checkItemStates":[],"closed":false,"dateLastActivity":"2013-01-28T21:42:08.175Z","desc":"","due":null,"idBoard":"50ce927d006f9d1b63010458","idChecklists":[],"idList":"50ce927d006f9d1b63010459","idMembers":[],"idMembersVoted":[],"idShort":15,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"Add
        labels to cards as tags","pos":131071.5,"shortUrl":"https://trello.com/c/7ez1s985","subscribed":false,"url":"https://trello.com/card/add-labels-to-cards-as-tags/50ce927d006f9d1b63010458/15"}]'
  recorded_at: Tue, 29 Jan 2013 13:58:19 GMT
- request:
    method: get
    uri: https://api.trello.com/1/cards/50ce9371006f9d1b630104ed/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="252b3e833087979d5c6ec00a6ecf87ac",
        oauth_signature="5%2BEy9Psks1Ti7KJ1U6WEjg5JYQA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359467899", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1359467899879'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Tue, 29 Jan 2013 13:58:19 GMT
[...]
- request:
    method: get
    uri: https://api.trello.com/1/cards/50f33ab744cd6ea45b0048f6/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="2b6ec25d3845c8115d34bfe4950cc50b",
        oauth_signature="doxMhntCvwqtO8wigCaBVH%2F9uD8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359467904", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1359467904246'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Tue, 29 Jan 2013 13:58:24 GMT
recorded_with: VCR 2.3.0
