---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="27afabcf6bfd66443e6a4cf1012bf030",
        oauth_signature="DTuOcfX57mB%2Bdw%2FBvkFF4%2FiTBAA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1360934421", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1360934420089'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"id":"50ce59a6c74c3e366300830b","avatarHash":null,"bio":"","fullName":"Bottleneck","initials":"B","memberType":"normal","status":"disconnected","url":"https://trello.com/bottleneck","username":"bottleneck","avatarSource":"none","confirmed":true,"email":"rosskaff+bottleneck@gmail.com","gravatarHash":"109e173a1f14a57ee2b737aeab1d8b16","idBoards":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idBoardsInvited":[],"idBoardsPinned":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idOrganizations":[],"idOrganizationsInvited":[],"idPremOrgsAdmin":[],"loginTypes":["password"],"prefs":{"sendSummaries":true,"minutesBetweenSummaries":60,"minutesBeforeDeadlineToNotify":1440,"colorBlind":false},"trophies":[],"uploadedAvatarHash":null}'
  recorded_at: Fri, 15 Feb 2013 13:20:22 GMT
- request:
    method: get
    uri: https://api.trello.com/1/members/50ce59a6c74c3e366300830b/boards?filter=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="ac25745ae268bfec31f69ac3dd11c546",
        oauth_signature="LJgW02gCQnSmvTslO3xeNu3hv6o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1360934422", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1360934420345'
      content-type:
      - application/json
      etag:
      - ! '"2053939696"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"50ce927d006f9d1b63010458","name":"Bottleneck","desc":"","closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/board/bottleneck/50ce927d006f9d1b63010458","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"invitations":[],"memberships":[{"id":"50ce927d006f9d1b6301045c","idMember":"50ce59a6c74c3e366300830b","memberType":"admin","deactivated":false}],"shortUrl":"https://trello.com/b/pcV1Vod0","subscribed":false,"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}},{"id":"50ce59a6c74c3e366300830c","name":"Welcome
        Board","desc":"","closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/board/welcome-board/50ce59a6c74c3e366300830c","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"invitations":[],"memberships":[{"id":"50ce59a6c74c3e366300830d","idMember":"4e6a7fad05d98b02ba00845c","memberType":"normal","deactivated":false},{"id":"50ce59a6c74c3e3663008318","idMember":"50ce59a6c74c3e366300830b","memberType":"admin","deactivated":false}],"shortUrl":"https://trello.com/b/lwggFnKA","subscribed":false,"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}}]'
  recorded_at: Fri, 15 Feb 2013 13:20:22 GMT
[...]
- request:
    method: get
    uri: https://api.trello.com/1/boards/50ce927d006f9d1b63010458
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="bbe1d13b7c267b10694c838a8f8aa2c1",
        oauth_signature="1%2BH%2FJQyxyHAqjGG6ByUVcUIj%2Bug%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1360934423", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1360934421005'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"id":"50ce927d006f9d1b63010458","name":"Bottleneck","desc":"","closed":false,"idOrganization":null,"pinned":true,"url":"https://trello.com/board/bottleneck/50ce927d006f9d1b63010458","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}}'
  recorded_at: Fri, 15 Feb 2013 13:20:23 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/50ce927d006f9d1b63010458/lists?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="5162d3c665f91a0a4749d71a2659f87c",
        oauth_signature="%2BVx3zP8lJLbt%2B5tMDGWr9j1nJbQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1360934423", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1360934421192'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"id":"50ce927d006f9d1b63010459","name":"Ready","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":16384,"subscribed":false},{"id":"50ce927d006f9d1b6301045a","name":"In
        Progress","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":32768,"subscribed":false},{"id":"50ce927d006f9d1b6301045b","name":"Blocked","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":49152,"subscribed":false},{"id":"50ce92ad006f9d1b6301048b","name":"Deploy","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":131072,"subscribed":false},{"id":"50ce92b4006f9d1b6301048f","name":"Complete","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":147456,"subscribed":false}]'
  recorded_at: Fri, 15 Feb 2013 13:20:23 GMT
- request:
    method: get
    uri: https://api.trello.com/1/lists/50ce927d006f9d1b63010459/cards?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="8c3a38a6f834f66d2d0dad7ef99eeed3",
        oauth_signature="gdK18%2F0twE8XChz27pteGXoyA98%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1360934423", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1360934421391'
      content-type:
      - application/json
      etag:
      - ! '"1844034892"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"50ce9371006f9d1b630104ed","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"checkItemStates":[],"closed":false,"dateLastActivity":"2012-12-17T03:37:21.917Z","desc":"","due":null,"idBoard":"50ce927d006f9d1b63010458","idChecklists":[],"idList":"50ce927d006f9d1b63010459","idMembers":[],"idMembersVoted":[],"idShort":4,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"Load
        boards via ajax in new project wizard","pos":65535.5,"shortUrl":"https://trello.com/c/3s34unxo","subscribed":false,"url":"https://trello.com/card/load-boards-via-ajax-in-new-project-wizard/50ce927d006f9d1b63010458/4"},{"id":"5106f0b03ac673d47b005421","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"checkItemStates":[],"closed":false,"dateLastActivity":"2013-01-28T21:42:08.175Z","desc":"","due":null,"idBoard":"50ce927d006f9d1b63010458","idChecklists":[],"idList":"50ce927d006f9d1b63010459","idMembers":[],"idMembersVoted":[],"idShort":15,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"Add
        labels to cards as tags","pos":131071.5,"shortUrl":"https://trello.com/c/7ez1s985","subscribed":false,"url":"https://trello.com/card/add-labels-to-cards-as-tags/50ce927d006f9d1b63010458/15"}]'
  recorded_at: Fri, 15 Feb 2013 13:20:23 GMT
- request:
    method: get
    uri: https://api.trello.com/1/cards/50ce9371006f9d1b630104ed/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="57f45a5c975c6c2f90d9cbee33824b34",
        oauth_signature="LQYbRdcMvgeF7RaqnOVZINqlSds%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1360934423", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1360934421572'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Fri, 15 Feb 2013 13:20:24 GMT
[...]
- request:
    method: get
    uri: https://api.trello.com/1/cards/50f33ab744cd6ea45b0048f6/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="53d0ac8d773afa0c46e1e33d221c76ac",
        oauth_signature="cmETiOPUZt%2F3mMxgQOoSom4oHvM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1360934427", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1360934425245'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Fri, 15 Feb 2013 13:20:27 GMT
recorded_with: VCR 2.3.0
