---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/cards/50ce9371006f9d1b630104ed/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="53f2d7bb7a84bed0e5089e5902b1cca9",
        oauth_signature="RpT%2BEK%2BTTmkYdMs1ErtKvjVRfVc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1360934429", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1360934427427'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Fri, 15 Feb 2013 13:20:29 GMT
- request:
    method: get
    uri: https://api.trello.com/1/members/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="22b87a3c9f537f96ba71241daf5b050d",
        oauth_signature="sRqZRf%2FUiWkZTLRbIJtzjWeoya0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1364917669", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1364917661368'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"id":"50ce59a6c74c3e366300830b","avatarHash":null,"bio":"","fullName":"Bottleneck","initials":"B","memberType":"normal","status":"disconnected","url":"https://trello.com/bottleneck","username":"bottleneck","avatarSource":"none","confirmed":true,"email":"rosskaff+bottleneck@gmail.com","gravatarHash":"109e173a1f14a57ee2b737aeab1d8b16","idBoards":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idBoardsInvited":[],"idBoardsPinned":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idOrganizations":[],"idOrganizationsInvited":[],"idPremOrgsAdmin":[],"loginTypes":["google","password"],"newEmail":null,"prefs":{"sendSummaries":true,"minutesBetweenSummaries":60,"minutesBeforeDeadlineToNotify":1440,"colorBlind":false},"trophies":[],"uploadedAvatarHash":null}'
  recorded_at: Tue, 02 Apr 2013 15:47:50 GMT
- request:
    method: get
    uri: https://api.trello.com/1/members/50ce59a6c74c3e366300830b/boards?filter=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="cec8f60fe1860f41827d9dbe21e941f6",
        oauth_signature="s%2FB0O%2B%2Bp5TZKj2Iwdo8p4w8wRgg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1364917670", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1364917661840'
      content-type:
      - application/json
      etag:
      - ! '"2053939696"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"50ce927d006f9d1b63010458","name":"Bottleneck","desc":"","closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/board/bottleneck/50ce927d006f9d1b63010458","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"invitations":[],"memberships":[{"id":"50ce927d006f9d1b6301045c","idMember":"50ce59a6c74c3e366300830b","memberType":"admin","deactivated":false}],"shortUrl":"https://trello.com/b/pcV1Vod0","subscribed":false,"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}},{"id":"50ce59a6c74c3e366300830c","name":"Welcome
        Board","desc":"","closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/board/welcome-board/50ce59a6c74c3e366300830c","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"invitations":[],"memberships":[{"id":"50ce59a6c74c3e366300830d","idMember":"4e6a7fad05d98b02ba00845c","memberType":"normal","deactivated":false},{"id":"50ce59a6c74c3e3663008318","idMember":"50ce59a6c74c3e366300830b","memberType":"admin","deactivated":false}],"shortUrl":"https://trello.com/b/lwggFnKA","subscribed":false,"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}}]'
  recorded_at: Tue, 02 Apr 2013 15:47:50 GMT
[...]
- request:
    method: get
    uri: https://api.trello.com/1/boards/50ce927d006f9d1b63010458
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="2b1e4db1d5d9cdac89baf9a0ac2e401a",
        oauth_signature="N31Vf7FLLO74SspZS7guUov95uY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1364920564", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1364920556170'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"id":"50ce927d006f9d1b63010458","name":"Bottleneck","desc":"","closed":false,"idOrganization":null,"pinned":true,"url":"https://trello.com/board/bottleneck/50ce927d006f9d1b63010458","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}}'
  recorded_at: Tue, 02 Apr 2013 16:36:05 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/50ce927d006f9d1b63010458/lists?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="0d1c2cbe403e12c372d1e0fdc8215e5e",
        oauth_signature="l5BwNjgj9b5jWXUqzZ%2FGKp5tC60%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1364920565", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1364920556620'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"id":"50ce927d006f9d1b63010459","name":"Ready","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":16384,"subscribed":false},{"id":"50ce927d006f9d1b6301045a","name":"In
        Progress","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":32768,"subscribed":false},{"id":"50ce927d006f9d1b6301045b","name":"Blocked","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":49152,"subscribed":false},{"id":"50ce92ad006f9d1b6301048b","name":"Deploy","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":131072,"subscribed":false},{"id":"50ce92b4006f9d1b6301048f","name":"Complete","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":147456,"subscribed":false}]'
  recorded_at: Tue, 02 Apr 2013 16:36:05 GMT
- request:
    method: get
    uri: https://api.trello.com/1/lists/50ce927d006f9d1b63010459/cards?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="b8f2e34eac99f69f115667473cca69e0",
        oauth_signature="3q9hOKnfueZMa2OekkXP1er3xIU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1364920565", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1364920557103'
      content-type:
      - application/json
      etag:
      - ! '"-1007070253"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":"5106f0b03ac673d47b005421","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"checkItemStates":[],"closed":false,"dateLastActivity":"2013-01-28T21:42:08.175Z","desc":"","due":null,"idBoard":"50ce927d006f9d1b63010458","idChecklists":[],"idList":"50ce927d006f9d1b63010459","idMembers":[],"idMembersVoted":[],"idShort":15,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"Add
        labels to cards as tags","pos":131071.5,"shortUrl":"https://trello.com/c/7ez1s985","subscribed":false,"url":"https://trello.com/card/add-labels-to-cards-as-tags/50ce927d006f9d1b63010458/15"},{"id":"51214b7846451f14170017f9","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"checkItemStates":[],"closed":false,"dateLastActivity":"2013-02-17T21:28:24.[...]
[...]
- request:
    method: get
    uri: https://api.trello.com/1/cards/50f33ab744cd6ea45b0048f6/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="f577c8e202dcc0b757062168a6459ddb",
        oauth_signature="Kqc2L00p0AeIQioWRR0wFWirvqA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1364920579", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1364920571347'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Tue, 02 Apr 2013 16:36:20 GMT
recorded_with: VCR 2.3.0
