---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/bottleneck
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="22a9bb997ac90692285a96e7f048cd6e",
        oauth_signature="ln9XrGEV0jW4OY2kCdm6IfjXPj8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359424418", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1359424419676'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"id":"50ce59a6c74c3e366300830b","avatarHash":null,"bio":"","fullName":"Bottleneck","initials":"B","memberType":null,"status":"active","url":"https://trello.com/bottleneck","username":"bottleneck","avatarSource":"none","confirmed":true,"email":"rosskaff+bottleneck@gmail.com","gravatarHash":"109e173a1f14a57ee2b737aeab1d8b16","idBoards":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idBoardsInvited":[],"idBoardsPinned":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idOrganizations":[],"idOrganizationsInvited":[],"idPremOrgsAdmin":[],"loginTypes":["password"],"prefs":{"sendSummaries":true,"minutesBetweenSummaries":60,"minutesBeforeDeadlineToNotify":1440,"colorBlind":false},"trophies":[],"uploadedAvatarHash":null}'
  recorded_at: Tue, 29 Jan 2013 01:53:39 GMT
- request:
    method: get
    uri: https://api.trello.com/1/members/50ce59a6c74c3e366300830b/boards?filter=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="357d9e4b189e9e8d84f3c2c9fd6ff9bb",
        oauth_signature="sFHsBPlwaauc%2F6hwIc4HkFazUd4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359424419", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1359424419923'
      content-type:
      - application/json
      etag:
      - ! '"2053939696"'
    body:
      encoding: US-ASCII
      string: &70261339442080 !ruby/string
        str: ! '[{"id":"50ce927d006f9d1b63010458","name":"Bottleneck","desc":"","closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/board/bottleneck/50ce927d006f9d1b63010458","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"invitations":[],"memberships":[{"id":"50ce927d006f9d1b6301045c","idMember":"50ce59a6c74c3e366300830b","memberType":"admin","deactivated":false}],"shortUrl":"https://trello.com/b/pcV1Vod0","subscribed":false,"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}},{"id":"50ce59a6c74c3e366300830c","name":"Welcome
          Board","desc":"","closed":false,"idOrganization":null,"invited":false,"pinned":true,"url":"https://trello.com/board/welcome-board/50ce59a6c74c3e366300830c","prefs":{"permissionLevel":"private","voting":"members","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true},"invitations":[],"memberships":[{"id":"50ce59a6c74c3e366300830d","idMember":"4e6a7fad05d98b02ba00845c","memberType":"normal","deactivated":false},{"id":"50ce59a6c74c3e3663008318","idMember":"50ce59a6c74c3e366300830b","memberType":"admin","deactivated":false}],"shortUrl":"https://trello.com/b/lwggFnKA","subscribed":false,"labelNames":{"red":"","orange":"","yellow":"","green":"","blue":"","purple":""}}]'
        net_http_res: !ruby/object:Net::HTTPOK
          code: '200'
          message: OK
          header:
            x-powered-by:
            - Express
            x-server-time:
            - '1359424419923'
            cache-control:
            - max-age=0, must-revalidate, no-cache, no-store
            expires:
            - Thu, 01 Jan 1970 00:00:00
            content-type:
            - application/json
            access-control-allow-origin:
            - ! '*'
            access-control-allow-methods:
            - GET, PUT, POST, DELETE
            content-length:
            - '1373'
            etag:
            - ! '"2053939696"'
            set-cookie:
            - connect.sid=U%2FlRzWmwtGQzuerp9w5mcyci.1erp68RM%2FPzcwD5Cwdav3PwUuxLHw0Su%2BeRFAhZcV84;
              path=/; httpOnly
            date:
            - Tue, 29 Jan 2013 01:53:39 GMT
          body: *70261339442080
          read: true
          __read_body_previously_called: true
        args:
          :method: :get
          :url: https://api.trello.com/1/members/50ce59a6c74c3e366300830b/boards?filter=all
          :headers:
            Authorization: OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058",
              oauth_nonce="f226b35d81aaeb03082fba79cba345c2", oauth_signature="FgZSACxaDcNskul2iPEDoZfv7AA%3D",
              oauth_signature_method="HMAC-SHA1", oauth_timestamp="1359465006", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
              oauth_version="1.0"
          :payload: 
          :timeout: 10
        code: 200
  recorded_at: Tue, 29 Jan 2013 01:53:39 GMT
[...]
- request:
    method: get
    uri: https://api.trello.com/1/boards/50ce927d006f9d1b63010458
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="0004c5a94322ae273730390b43b44a91",
        oauth_signature="Q%2Fn5xyaMH1hTqHTxptPOWX%2Fb6WY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359424420", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7[...]
- request:
    method: get
    uri: https://api.trello.com/1/boards/50ce927d006f9d1b63010458/lists?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="ea6b1142b239527c547ed9e665371c10",
        oauth_signature="pqyTvFYPUmexW%2BJ7oOG%2Fljj24aE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359424420", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1359424420966'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: &70261339451460 !ruby/string
        str: ! '[{"id":"50ce927d006f9d1b63010459","name":"Ready","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":16384,"subscribed":false},{"id":"50ce927d006f9d1b6301045a","name":"In
          Progress","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":32768,"subscribed":false},{"id":"50ce927d006f9d1b6301045b","name":"Blocked","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":49152,"subscribed":false},{"id":"50ce92ad006f9d1b6301048b","name":"Deploy","closed":false,"idBoard":"50ce927d006f9d1b63010458","pos":131072,"subscribed":false},{"id":"50ce92b4006f9d1b6301048f","name":"Complete","closed[...]
- request:
    method: get
    uri: https://api.trello.com/1/lists/50ce927d006f9d1b63010459/cards?filter=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="ee8a2fce6e209aacfb0710d98d94d6ce",
        oauth_signature="XiIQy%2FtWq3KDBEAtZlqGahXHETs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359424421", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1359424421235'
      content-type:
      - application/json
      etag:
      - ! '"1844034892"'
    body:
      encoding: US-ASCII
      string: &70261339463520 !ruby/string
        str: ! '[{"id":"50ce9371006f9d1b630104ed","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"checkItemStates":[],"closed":false,"dateLastActivity":"2012-12-17T03:37:21.917Z","desc":"","due":null,"idBoard":"50ce927d006f9d1b63010458","idChecklists":[],"idList":"50ce927d006f9d1b63010459","idMembers":[],"idMembersVoted":[],"idShort":4,"idAttachmentCover":null,"manualCoverAttachment":false,"labels":[],"name":"Load
          boards via ajax in new project wizard","pos":65535.5,"shortUrl":"https://trello.com/c/3s34unxo","subscribed":false,"url":"https://trello.com/card/load-boards-via-ajax-in-new-project-wizard/50ce927d006f9d1b63010458/4"},{"id":"5106f0b03ac673d47b005421","badges":{"votes":0,"viewingMemberVoted":false,"subscribed":false,"fogbugz":"","checkItems":0,"checkItemsChecked":0,"comments":0,"attachments":0,"description":false,"due":null},"checkItemStates":[],"closed":false,"dateLastA[...]
- request:
    method: get
    uri: https://api.trello.com/1/cards/50ce9371006f9d1b630104ed/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="409e3c1764c0012822b7b6197d0eb507",
        oauth_signature="kPclQorCS1ZUufmZzJNlQ4YO%2FT4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359424421", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc0[...]
[...]
- request:
    method: get
    uri: https://api.trello.com/1/members/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="a69917fcdcdc4a4e3fa56203a4edf7a3",
        oauth_signature="eYokKuVWt6TRpeELVrYULeW5dp0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1359465006", oauth_token="c5c951febdf84a1e45ef8234cc5eef382d9643fb6c7f3717cc091a7afa23aad9",
        oauth[...]
[...]
