<% title "#{@project.name}" %>
<%= render_title_html %>
<%= render 'projects/sub_nav' %>
<section id="<%= dom_id(@project) %>" class="row">
  <div class="twelve columns">
    <%= render 'cumulative_flows/show', flow: @flow %>
  </div>
</section>
