<div class="row">
  <div id="projects" class="twelve columns">
    <h2>Projects</h2>
    {{#each project in controller}}
      {{#linkTo "project.summary" project class="panel three columns"}}{{ project.name }}{{/linkTo}}
    {{/each}}
    <a href="#" class="panel three columns" {{action "startProject"}}>
      <i class="foundicon-plus" style="font-size:75%"></i> Import a project
    </a>
  </div>
</div>
