---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/members/Bottleneck
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="03c3292f7d2b246e2f409be39fba63e6",
        oauth_signature="UevxtBur%2BU8HZ6I%2BiGKOsPiuUJw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1357742504", oauth_token="aeb20eb3201ad981ffc1a65ee6f3d9225de5491e729835e22ecdb3a5551ac5f9",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - text/plain; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! 'model not found

'
  recorded_at: Wed, 09 Jan 2013 14:41:44 GMT
- request:
    method: get
    uri: https://api.trello.com/1/members/bottleneck
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="5bc3bf6f350105ad4a099b9c115bb058", oauth_nonce="6f665042bc8310f44fee307d363809b2",
        oauth_signature="67Zvfj%2BCzmXWZ9rLwc2YO7ugDj8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1357742523", oauth_token="aeb20eb3201ad981ffc1a65ee6f3d9225de5491e729835e22ecdb3a5551ac5f9",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-server-time:
      - '1357742524132'
    body:
      encoding: US-ASCII
      string: ! '{"id":"50ce59a6c74c3e366300830b","avatarHash":null,"bio":"","fullName":"Bottleneck","initials":"B","memberType":null,"status":"active","url":"https://trello.com/bottleneck","username":"bottleneck","avatarSource":"none","confirmed":true,"email":"rosskaff+bottleneck@gmail.com","gravatarHash":"109e173a1f14a57ee2b737aeab1d8b16","idBoards":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idBoardsInvited":[],"idBoardsPinned":["50ce59a6c74c3e366300830c","50ce927d006f9d1b63010458"],"idOrganizations":[],"idOrganizationsInvited":[],"idPremOrgsAdmin":[],"loginTypes":["password"],"prefs":{"sendSummaries":true,"minutesBetweenSummaries":60,"minutesBeforeDeadlineToNotify":1440,"colorBlind":false},"trophies":[],"uploadedAvatarHash":null}'
  recorded_at: Wed, 09 Jan 2013 14:42:04 GMT
recorded_with: VCR 2.3.0
