<div class="row">
  <hr />
  <div class="ten columns">
    <ul class="inline-list">
      <li><%= link_to 'guidelines', '/guidelines' %></li>
      <li><%= link_to 'terms', '#' %></li>
      <li><%= link_to 'privacy', '#' %></li>
    </ul>
  </div>
  <div class="two columns">
    <ul class="inline-list">
      <li>Copyright 2012</li>
    </ul>
  </div>
</div>
